.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.preview-pic {
    max-height: 350px;
    max-width: 350px;
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    margin: auto;
}

.pagecontent {
    padding: 0px 20px 50px 20px;
}

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 5px;
}
